*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-neutral:900;
}

.main-container {
    --hue: var(--hue-neutral);
    padding: o;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.container {
    width: 800px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(142, 70, 244);
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    color: black;
}


.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(142, 70, 244);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.start-container {
    justify-content: center;
}

.view-scores {
    color:  rgb(142, 70, 244);
}